.app-container {
  display: flex;
  min-height: 100vh;
  margin: auto;
  background: #1e1e1e; /* Koyu arka plan */
  color: #fff;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }
}
