.app-container {
  display: flex;
  min-height: 100vh;
  background: #1e1e1e; /* Koyu arka plan */
  color: #fff;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }
}
